html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

#scroll-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  overflow-x: hidden;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container > div {
  height: 1000vh;
  width: 100%;
}

#canvas-scene {
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 2.5s ease;
  position: absolute;
}

#loading-message {
  z-index: 10;
  position: absolute;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  z-index: 3;
  transition: transform 3s ease;
}

.cls-1 {
  fill: #fff;
}

#loading-bar-parent {
  position: absolute;
  z-index: 5;
  left: 50%;
  background: #ececec;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#mattered-triangle {
  fill: transparent;
  cursor: pointer;
  pointer-events: none;
  outline: none;
}

.pass-through {
  transform: translate(-300%, 20%) scale3d(100, 100, 1);
}

.fade-in {
  opacity: 1 !important;
}

#loading-bar {
  background: black;
  margin: 0;
  height: 100%;
  width: 0;
  transition: width 1s ease-in;
}

@media (orientation: portrait) {
  svg {
    height: 100%;
    width: auto;
  }

  #loading-bar-parent {
    top: 62.5%;
    height: 7.5px;
    width: 40%;
  }
}

@media (orientation: landscape) {
  svg {
    height: auto;
    width: 150%;
  }
  #loading-bar-parent {
    top: 70%;
    height: 10px;
    width: 40%;
    max-width: 600px;
  }
}
