html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  background: black;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

#scroll-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  overflow-x: hidden;
}

#stats-table {
  display: none;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 35%;
  max-height: 300px;
  max-width: 500px;
  z-index: 3;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  min-height: 300px;
  opacity: 0;
  transition: opacity 1s ease-in;
}

h2,
h3,
h4 {
  margin: 0;
  text-align: center;
}

h5 {
  margin: 0;
  text-align: left;
}

p {
  margin: 0;
  text-align: left;
}
#overview-scroll-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: solid white 1px;
}

#overview-scroll-wrapper::-webkit-scrollbar {
  background: rgb(50, 50, 50);
  border-radius: 200px;
  height: 10px;
}

#overview-scroll-wrapper::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 200px;
}

#overview-grid {
  display: grid;
  width: 100%;
  min-width: 500px;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
}

.space-section {
  border-left: solid white 2px;
  background: linear-gradient(90deg, rgb(50, 50, 50) 0%, transparent 75%);
  display: flex;
  padding: 5px 20px 5px 5px;
  flex-flow: row nowrap;
}

.space-section > .title-time {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.space-section > p {
  font-size: 25px;
  margin: auto;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container > div {
  height: 1000vh;
  width: 100%;
}

#canvas-scene {
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 2.5s ease;
  position: absolute;
}

#scroll-instructions {
  z-index: 3;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

#sound-controller {
  margin-left: 17px;
  background-color: transparent;
  height: 100%;
  width: 100px;
  position: relative;
  cursor: pointer;
  z-index: 4;
}

#fly-through {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.cls-1 {
  fill: #fff;
}

#loading-bar-parent {
  position: absolute;
  z-index: 6;
  left: 50%;
  background: #ececec;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

nav {
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  left: 50%;
  transform: translate(-50%);
  top: 0;
  position: absolute;
  z-index: 3;
}

nav > a {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  margin-right: 9px;
}

#mattered-logo {
  height: 70%;
  width: auto;
}

#mattered-triangle {
  fill: transparent;
  cursor: pointer;
  pointer-events: none;
  outline: none;
}

.pass-through {
  transition: transform 3s ease;
}

.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

#loading-bar {
  background: black;
  margin: 0;
  height: 100%;
  width: 0;
  transition: width 1s ease-in;
}

.fade-in-stats-screen {
  opacity: 1 !important;
}

@media (orientation: portrait) {
  #fly-through {
    height: 100%;
    width: auto;
  }

  #loading-bar-parent {
    top: 62.5%;
    height: 7.5px;
    width: 40%;
  }
}

@media (orientation: landscape) {
  #fly-through {
    height: auto;
    width: 150%;
  }
  #loading-bar-parent {
    top: 70%;
    height: 10px;
    width: 40%;
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  nav {
    height: 60px;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    transform: translate(0);
  }

  nav > canvas {
    width: 80px;
    margin-left: 4%;
  }

  nav > a {
    margin-right: 4%;
  }
  #stats-table {
    top: calc(50px + 2%);
  }
  #overview-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    min-width: 375px;
  }
}
