html,
body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  background: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  scroll-behavior: smooth;
}

#scroll-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  z-index: 2;
  overflow-x: hidden;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#scroll-container > div {
  height: 1000vh;
  width: 100%;
}

#canvas-scene {
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity 2.5s ease;
  position: absolute;
}

svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  z-index: 3;
  transition: transform 2s ease;
}

.cls-1 {
  fill: #fff;
}

#mattered-triangle {
  transition: fill 2s ease-out;
  fill: transparent;
  cursor: pointer;
}

.pass-through {
  transform: translate(-300%, 20%) scale3d(100, 100, 1);
}

.fade-in {
  opacity: 1 !important;
}

@media (orientation: portrait) {
  svg {
    height: 100%;
    width: auto;
  }
}

@media (orientation: landscape) {
  svg {
    height: auto;
    width: 150%;
  }
}
